*.do
*.gdx
*.gpr
*.gpy
*.log
*.lst
*.lxi
*.sublime*
*.tmp
*.~*
*~
.*.swp
.ycm_extra_conf.py
Sanbox*
bin/
dat/
obj/
tags
ycmBad.py
ycmGood.py
*.lp
*.mps
*.prm
*.sol
*.csv
./python/.*
python/__pycache__/*
python/.*/*
